---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">


  {% if page.language == 'english' %}{% include addthis_basic.html %}{% endif %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.categories %} | <a href='/categories/#{{page.categories}}'>{{page.categories}}</a> {% endif %}{% if page.tags %} | {% for tag in page.tags %} <a href='/tags/#{{tag}}'>{{tag}}</a> {% endfor %} {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="page-navigation">
    {% if page.previous.url %}
      <a class="prev-page" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% else %}
      <a class="prev-page"></a>
    {% endif %}
    {% if page.next.url %}
      <a class="next-page" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% else %}
      <a class="next-page"></a>
    {% endif %}
  </div>

  <div class="social-share">
    {% if page.language == 'english' %}{% include addthis_activate.html %}{% endif %}
    {% if page.language == 'chinese' %}{% include jiathis.html %}{% endif %}
  </div>

  <div class="comments">
    {% if page.language == 'english' %}{% include disqus.html %}{% endif %}
    {% if page.language == 'chinese' %}{% include duoshuo.html %}{% endif %}
  </div>

</article>
